
body{
    background-color: rgb(236, 236, 236);
}

a{
    text-decoration: none;
}

.form-logout{
    margin-top: 10px;
}


footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
}