{% extends "base.html" %}
{% block content %}

{% if messages %}
    {% for messsage in messages %}
        {{ message }}
    {% endfor %}
{% endif %}

{% if all_tasks %}

    <div class="list-group">
        {% for task in all_tasks %}
        <a href="{% url 'detail' task.task_id  %}" class="list-group-item list-group-item-action">
            {{ task.name_task }}
        </a>
        {% endfor %}
    </div>
{% else %}
    <p>Não há tarefas ainda.</p>
{% endif %}
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success btn-lg" type="submit" value="inserir" >inserir</button>
    </form>
    
{% endblock %}