{% extends "base.html" %}
{% block content %}

{% if messages %}
    {% for messsage in messages %}
        {{ message }}
    {% endfor %}
{% endif %}

{% if all_tasks %}

<form class="row g-3 " action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <div class="col-auto mg-3">
        {{ form.as_p }}
    </div>
    <div class="col ">
        <button class="btn- mt-4 btn btn-success" type="submit" value="inserir" >inserir</button>
    </div>
</form>
    <div class="list-group list">
        {% for task in all_tasks %}
        <div class="row">
            <div class="col">
                <a href="{% url 'detail' task.task_id  %}" class="list-group-item list-group-item-action">
                    {{ task.name_task }}
                </a>
                
                {% if task.is_activer == True %}
                <p class="list-group-item bg-danger" >
    
                    <a class="text-white" href="{% url 'activer' task.task_id  %}" >
                        tarefa não concluida
                    </a>
                </p>
                {% else %}
                <p class="list-group-item bg-success" >
                    <a class="text-white" href="{% url 'activer' task.task_id  %}" >
                        concluida
                    </a>
                </p>
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-auto">

            </div>
        </div>
        <div class="row">
            {% if all_tasks.has_previous %}
                <li><a href="?page={{ all_tasks.previous_page_number }}">back</a></li>
            {% endif %}

            {% if all_tasks.paginator.num_pages %}
            <span>
                {{ all_tasks.number }} de {{ all_tasks.paginator.num_pages }}
            </span>
            {% endif %}

            
            {% if all_tasks.has_next %}
                <li><a href="?page={{ all_tasks.next_page_number }}">next</a></li>
            {% endif %}
        </div>
    </div>
{% else %}
    <p>Não há tarefas ainda.</p>
{% endif %}
    
{% endblock %}